@*@model AcademicPortalProject.Models.CourseTable

    @{
        ViewBag.Title = "DetailsOfCourse";
    }

    <h2>DetailsOfCourse</h2>

    <div>
        <h4>CourseTable</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TeacherTable.TeacherName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeacherTable.TeacherName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseCredits)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseCredits)
            </dd>

        </dl>
    </div>
    <div>
        @Html.ActionLink("Back to My Courses", "Courses", new { id = int.Parse(Session["UserId"].ToString()) })
    </div>*@

@model AcademicPortalProject.Models.CourseTable

@{
    ViewBag.Title = "DetailsOfCourse";
}

<h2>DetailsOfCourse</h2>

<div>
    <h4>CourseTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeacherTable.TeacherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherTable.TeacherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCredits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCredits)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Back to My Courses", "Courses", new { id = int.Parse(Session["UserId"].ToString()) })
</div>